<a href="/auth/login"><i class="fa-solid fa-backward-step"></i></a>

<h2>Lista klientów</h2>
<table>
  <thead>
    <tr class="trone">
      <th>Nazwa</th>
      <th>Adres</th>
      <th class="thnip">NIP</th>
    </tr>
  </thead>

  <tbody>
    {{#each clients}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{address.street}}
          {{address.suite}}
          {{address.city}}
          {{address.zipcode}}
        </td>
        <td>{{this.nip}}</td>
        <td class="more">
          <a href="/{{_id}}">Więcej</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a class="addclient" href="/newClient">Dodaj Klienta</a>