<h1>Klient: {{post.name}}</h1>

<h2>Szczegóły o kliencie</h2>
<h2>Adres</h2>
<p>Ulica: {{post.address.street}}</p>
<p>Numer lokalu: {{post.address.suite}}</p>
<p>Miasto: {{post.address.city}}</p>
<p>Kod pocztowy: {{post.address.zipcode}}</p>
<p>NIP: {{post.nip}}</p>

<h2>Akcje</h2>
<table>
  <thead>
    <tr>
      <th>Data kontaktu</th>
      <th>Rodzaj akcji</th>
      <th>Opis akcji</th>
      <th><a href="/main/{{post._id}}/newAction">Dodaj akcję</th>
    </tr>
  </thead>

  <tbody>
    {{#each actions}}
    <tr>
      <td>{{this.date}}</td>
      <td>{{this.type}}</td>
      <td>{{this.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>