<h1>Klient: {{data.name}}</h1>

<h2>Szczegóły o kliencie</h2>
<h2>Adres</h2>
<p>Ulica: {{data.address.street}}</p>
<p>Numer lokalu: {{data.address.suite}}</p>
<p>Miasto: {{data.address.city}}</p>
<p>Kod pocztowy: {{data.address.zipcode}}</p>
<p>NIP: {{data.nip}}</p>

<form action="/main/:id/newAction" method="POST">

  <label for="date">Data kontaktu</label><br /><br />
  <input type="text" id="date" name="date" required />
  <br /><br />
  <label for="type">Rodzaj akcji</label><br />
  <select id="type" name="type" required>
    <option value="...">...</option>
    <option value="Phone call">Telefon</option>
    <option value="Meeting">Spotkanie</option>
    <option value="Other">Inne</option>
  </select>
  <br /><br />

  <label for="description">Opis</label><br />
  <input type="text" id="description" name="description" required />
  <br /><br />

  <button href="/main/{{id}}" type="submit">Dodaj Akcję</button>
</form>